#equipe{
    background-color: #c09628 !important;
    padding-top: 5px;
    padding-bottom: 30px;
}

#equipe-h2{
    display: block;
}

h2{
    color: white;
    text-align: center;
    margin-top: 50px;
}
.equipe_card{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap-reverse;
}

.equipe_card_membre {
    text-align: center;
    color: white;
    margin-top: 6%;
}

.equipe_card_membre_img{
    margin-top: 3%;
    width: 30%;
    box-shadow: 0px 0px 10px #000;  
}

.equipe_para{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.container-fluid, .container, .equipe ,.carte {
    border: solid red;
}

.contact_para-mobile, .contact , .equipe_card {
    border: solid green;
}
