#equipe{
    background-color: #c09628 !important;
    padding-top: 5px;
    padding-bottom: 30px;
}

#equipe-h2{
    margin: auto;
    display: inline-block;
    font-size: 3rem;
}

#equipe-h2-parent{
    text-align: center;
}

h2{
    color: white;
    text-align: center;
    margin-top: 50px;
}

#equipe-h2:after{
    background: transparent !important;
    transition: width .5s ease, background-color .5s ease !important;
}

#equipe-h2:hover:after{
    width: 90%;
    background: white !important;
}
.equipe_card{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap-reverse;
}

.equipe_card_membre {
    text-align: center;
    color: white;
    margin-top: 6%;
}

.equipe_card_membre_img{
    margin-top: 3%;
    width: 30%;
    box-shadow: 0px 0px 10px #000;  
}

.equipe_para{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

